#gds-top-nav
  a.title(href='/gds/') GDS
  a.brand(href='/gds/') 안면도 태양은가득히 애견 펜션
  a.dropdown.ml-auto(href='#', data-toggle='dropdown')
    img(src='/images/user-white.svg')
  .dropdown-menu
    .group-name ADMIN
    a.dropdown-item(href='#') Tport
    .dropdown-divider
    .group-name VENDOR
    a.dropdown-item(href='#') 1. ZARI GDS
    a.dropdown-item(href='#') 2. PensionBank
    a.dropdown-item(href='#') 3. StayWith
    .dropdown-divider
    .group-name CHANNEL
    a.dropdown-item(href='#') 1. GDS
    a.dropdown-item(href='#') 2. 네이버
    a.dropdown-item(href='#') 3. 티몬
    .dropdown-divider
    a.dropdown-item(href='/login') 로그아웃