#top-nav
  a(href='https://onda.me/', target='_blank') T Port 웹사이트
  a(href='https://sites.google.com/a/zaricorp.com/t-port', target='_blank') 인트라넷
  a(href='https://app.intercom.io/a/apps/js4ewq2f', target='_blank') 인터콤
  a(href='https://admin.tport.io/review', target='_blank') GDS 리뷰시스템
  a.dropdown(href='#', data-toggle='dropdown')
    img(src='/images/user.svg')
  .dropdown-menu
    .group-name ADMIN
    a.dropdown-item(href='#') Tport
    .dropdown-divider
    .group-name VENDOR
    a.dropdown-item(href='#') 1. ZARI GDS
    a.dropdown-item(href='#') 2. PensionBank
    a.dropdown-item(href='#') 3. StayWith
    .dropdown-divider
    .group-name CHANNEL
    a.dropdown-item(href='#') 1. GDS
    a.dropdown-item(href='#') 2. 네이버
    a.dropdown-item(href='#') 3. 티몬
    .dropdown-divider
    .group-name.text-red(href='/login') 로그아웃