include ./includes/header.pug
include ./includes/gds-top-nav.pug
include ./includes/gds-left-nav.pug

#inner-wrapper
  #gds-content.review
    .page-title 실시간 예약 정책
    .row.mb-5
      .col
        h1 GDS
      .col
        h1 VENDOR
    .form-group
      label 환불안내
      .row.no-gutters.border
        .col
          .wrap
            textarea.form-control-plaintext.
              올바른 예약문화의 정착을 위하여 불가피한 조치이오니 양해 부탁드립니다.
              - 환불 적용은 이용요금의 100% 입금시에만 적용됩니다.
              - 예약완료 후 취소시에는 위약금 (객실 및 서비스요금의 10%)이 있습니다.
              - 객실과 날짜는 예약 전 신중히 생각하시고 결정해 주시기 바랍니다.
              - 예약일 변경시 발생한 수수료도 취소수수료와 동일합니다.
              - 이용날짜 변경은 일주일 전까지 가능합니다.
              - 변경 후 취소는 환불이 안됩니다.

              이용일 7일전 취소시 90% 환불
              이용일 6일전 취소시 80% 환불
              이용일 5일전 취소시 70% 환불
              이용일 4일전 취소시 50% 환불
              이용일 3일전 ~ 당일 취소시 환불 불가
        .col.bg-light
          .wrap
            textarea.form-control-plaintext.text-muted(readonly).
              올바른 예약문화의 정착을 위하여 불가피한 조치이오니 양해 부탁드립니다.
              - 환불 적용은 이용요금의 100% 입금시에만 적용됩니다.
              - 예약완료 후 취소시에는 위약금 (객실 및 서비스요금의 10%)이 있습니다.
              - 객실과 날짜는 예약 전 신중히 생각하시고 결정해 주시기 바랍니다.
              - 예약일 변경시 발생한 수수료도 취소수수료와 동일합니다.
              - 이용날짜 변경은 일주일 전까지 가능합니다.
              - 변경 후 취소는 환불이 안됩니다.

              이용일 7일전 취소시 90% 환불
              이용일 6일전 취소시 80% 환불
              이용일 5일전 취소시 70% 환불
              이용일 4일전 취소시 50% 환불
              이용일 3일전 ~ 당일 취소시 환불 불가
    .form-group
      label 환불기준
      .row.no-gutters.border
        .col
          .p-4
            .form-inline
              .input-group.mb-2
                .input-group-prepend
                  .input-group-text.justify-content-end(style='width: 7rem') 당일 취소
                input.form-control.text-right(type='number', min='0', max='100', value='0')
                .input-group-append
                  .input-group-text % 환불
            .form-inline
              .input-group.mb-2
                .input-group-prepend
                  .input-group-text.justify-content-end(style='width: 7rem') 1일전 취소
                input.form-control.text-right(type='number', min='0', max='100', value='30')
                .input-group-append
                  .input-group-text % 환불
            .form-inline
              .input-group.mb-2
                .input-group-prepend
                  .input-group-text.justify-content-end(style='width: 7rem') 2일전 취소
                input.form-control.text-right(type='number', min='0', max='100', value='50')
                .input-group-append
                  .input-group-text % 환불
            .form-inline
              .input-group.mb-2
                .input-group-prepend
                  .input-group-text.justify-content-end(style='width: 7rem') 3일전 취소
                input.form-control.text-right(type='number', min='0', max='100', value='70')
                .input-group-append
                  .input-group-text % 환불
            .form-inline
              .input-group.mb-2
                .input-group-prepend
                  .input-group-text.justify-content-end(style='width: 7rem') 4일전 취소
                input.form-control.text-right(type='number', min='0', max='100', value='80')
                .input-group-append
                  .input-group-text % 환불
            .form-inline
              .input-group.mb-2
                .input-group-prepend
                  .input-group-text.justify-content-end(style='width: 7rem') 5일전 취소
                input.form-control.text-right(type='number', min='0', max='100', value='90')
                .input-group-append
                  .input-group-text % 환불
            .form-inline
              .input-group.mb-2
                .input-group-prepend
                  .input-group-text.justify-content-end(style='width: 7rem') 6일전 취소
                input.form-control.text-right(type='number', min='0', max='100', value='100')
                .input-group-append
                  .input-group-text % 환불
            .form-inline
              .input-group.mb-2
                .input-group-prepend
                  .input-group-text.justify-content-end(style='width: 7rem') 7일전 취소
                input.form-control.text-right(type='number', min='0', max='100', value='100')
                .input-group-append
                  .input-group-text % 환불
            .form-inline
              .input-group.mb-2
                .input-group-prepend
                  .input-group-text.justify-content-end(style='width: 7rem') 8일전 취소
                input.form-control.text-right(type='number', min='0', max='100', value='100')
                .input-group-append
                  .input-group-text % 환불
            .form-inline
              .input-group.mb-2
                .input-group-prepend
                  .input-group-text.justify-content-end(style='width: 7rem') 9일전 취소
                input.form-control.text-right(type='number', min='0', max='100', value='100')
                .input-group-append
                  .input-group-text % 환불
            .form-inline
              .input-group.mb-2
                .input-group-prepend
                  .input-group-text.justify-content-end(style='width: 7rem') 10일전 취소
                input.form-control.text-right(type='number', min='0', max='100', value='100')
                .input-group-append
                  .input-group-text % 환불
              button.btn.btn-white.btn-close.ml-2.mb-2(type='button', data-placement='right', data-toggle='tooltip', title='삭제')
                i.fa.fa-times.fa-lg

            button.btn.btn-white.btn-small(type='button')
              i.fa.fa-plus.fa-lg.mr-1
              | 추가
        .col.bg-light
          .p-4
            .form-inline
              .input-group.mb-2
                .input-group-prepend
                  .input-group-text.justify-content-end(style='width: 7rem') 당일 취소
                input.form-control.text-right(type='number', min='0', max='100', value='0', readonly)
                .input-group-append
                  .input-group-text % 환불
            .form-inline
              .input-group.mb-2
                .input-group-prepend
                  .input-group-text.justify-content-end(style='width: 7rem') 1일전 취소
                input.form-control.text-right(type='number', min='0', max='100', value='30', readonly)
                .input-group-append
                  .input-group-text % 환불
            .form-inline
              .input-group.mb-2
                .input-group-prepend
                  .input-group-text.justify-content-end(style='width: 7rem') 2일전 취소
                input.form-control.text-right(type='number', min='0', max='100', value='50', readonly)
                .input-group-append
                  .input-group-text % 환불
            .form-inline
              .input-group.mb-2
                .input-group-prepend
                  .input-group-text.justify-content-end(style='width: 7rem') 3일전 취소
                input.form-control.text-right(type='number', min='0', max='100', value='70', readonly)
                .input-group-append
                  .input-group-text % 환불
            .form-inline
              .input-group.mb-2
                .input-group-prepend
                  .input-group-text.justify-content-end(style='width: 7rem') 4일전 취소
                input.form-control.text-right(type='number', min='0', max='100', value='80', readonly)
                .input-group-append
                  .input-group-text % 환불
            .form-inline
              .input-group.mb-2
                .input-group-prepend
                  .input-group-text.justify-content-end(style='width: 7rem') 5일전 취소
                input.form-control.text-right(type='number', min='0', max='100', value='90', readonly)
                .input-group-append
                  .input-group-text % 환불
            .form-inline
              .input-group.mb-2
                .input-group-prepend
                  .input-group-text.justify-content-end(style='width: 7rem') 6일전 취소
                input.form-control.text-right(type='number', min='0', max='100', value='100', readonly)
                .input-group-append
                  .input-group-text % 환불
            .form-inline
              .input-group.mb-2
                .input-group-prepend
                  .input-group-text.justify-content-end(style='width: 7rem') 7일전 취소
                input.form-control.text-right(type='number', min='0', max='100', value='100', readonly)
                .input-group-append
                  .input-group-text % 환불
            .form-inline
              .input-group.mb-2
                .input-group-prepend
                  .input-group-text.justify-content-end(style='width: 7rem') 8일전 취소
                input.form-control.text-right(type='number', min='0', max='100', value='100', readonly)
                .input-group-append
                  .input-group-text % 환불
            .form-inline
              .input-group.mb-2
                .input-group-prepend
                  .input-group-text.justify-content-end(style='width: 7rem') 9일전 취소
                input.form-control.text-right(type='number', min='0', max='100', value='100', readonly)
                .input-group-append
                  .input-group-text % 환불
            .form-inline
              .input-group.mb-2
                .input-group-prepend
                  .input-group-text.justify-content-end(style='width: 7rem') 10일전 취소
                input.form-control.text-right(type='number', min='0', max='100', value='100', readonly)
                .input-group-append
                  .input-group-text % 환불

      .text-center.mt-5
        button.btn.btn-lg.btn-onda.px-5(type='button') 저장

  include ./includes/footer.pug